<div class="barbie-container">
  <div class="header">
      <h2>Gestión de Barbies</h2>
      <button class="btn btn-primary" (click)="openModal()">
          <i class="bi bi-plus-lg"> Agregar Barbie</i>
      </button>
  </div>

  <table class="barbie-table">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Colección</th>
              <th>Tipo</th>
              <th>Atributo</th>
              <th>Accesorios</th>
              <th>Descripción</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let barbie of barbies">
              <td>{{barbie.nombre}}</td>
              <td>{{barbie.coleccion}}</td>
              <td>{{barbie.tipo}}</td>
              <td>{{barbie.descripcion}}</td>
              <td>
                  <ul>
                      <li *ngFor="let accesorio of barbie.accesorios">
                          {{accesorio}}
                      </li>
                  </ul>
              </td>
              <td>{{barbie.descripcion}}</td>
              <td class="actions">
                  <button class="btn btn-primary" (click)="openModal(barbie)">
                      <i class="bi bi-pencil-square"> Editar</i>
                  </button>
                  <button class="btn btn-primary" (click)="deleteBarbie(barbie._id)">
                      <i class="bi bi-trash3-fill"> Eliminar</i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>

  <app-barbie-modal
      *ngIf="showModal"
      [barbie]="selectedBarbie"
      (save)="onSave($event)"
      (cancel)="closeModal()">
  </app-barbie-modal>

</div>
